<aside class="sidebar">
  <nav>
    <ul>
      <li><a href="/department/dashboard">Dashboard</a></li>
      <li><a href="/department/issues">Issues</a></li>
      <li><a href="/department/map">Map</a></li>
      <li><a href="/department/reports">Reports</a></li>
      <li><a href="/department/zones">Zones</a></li>
    </ul>
  </nav>
</aside>
